* {
    font-family: "Ubuntu", sans-serif;
}
body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 235, 229);
    
}

header {
    background-color:rgb(238, 178, 101);
    display:flex;
    justify-content: center;
    align-items: center;
    height: 9vh;
    width:98vw;
    gap: 50vw;
    border-style: solid;
    font-size: 30px;
    
}

.library {
    min-height: 80vh;
    background-color: rgb(235, 235, 229);
    display:flex;
    flex-wrap: wrap;
    width:90vw;
    gap:50px;
}

.book {
    background-color: rgb(177, 240, 135);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    height:350px;
    border-style: solid;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 25px;

    gap:30px;

}
.book * { 
    margin:0;
}

.book button {
    width:100px;
    height:30px;
    border-radius: 5px;
    background-color: rgb(240, 114, 114);
    
}
footer {

    background-color: none;
    height:5em;
    display:flex;
    align-items: center;
    font-family: Verdana, Helvetica, sans-serif;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content */
.modal-content {
    background-color: #92e2ec;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 200px;
    border-radius: 10px;
   
  }

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 10px;
    
}

.form p {
    font-size: 20px;
}

input[type=text], input[type=number] {
    background-color: rgba(252, 229, 217, 0.74);
    border-radius: 5px;
    height:30px;
    font-size: 15px;
}
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


.add {
    font-size: 25px;
    background-color: rgb(235, 235, 229);
    padding:5px;
    border-radius: 5px;
}